## My object data file for local test data
resources/bankData.javaObjectData

##_/`\,~^-'`\_________________________________________________________
######################################################################|__________
#################################################################################|
# SOURCE (for below): https://gist.github.com/dedunumax/54e82214715e35439227 ####|

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
